<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/users/stylesheets/login.css" rel="stylesheet">
    <title>Login</title>
</head>

<body class="text-center">

    <main class="form-login">
        <form action="/login" method="post">
            <img class="mb-4" src="/users/assets/icon.ico" alt="" width="54" height="54">
            <h1 class="h3 mb-3 fw-normal">LOG IN</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-warning" type="submit">Log in</button>
            ALERT
        </form>
    </main>

</body>

</html>